@font-face {
    font-family: Inter;
    src: url('../fonts/Inter24pt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light: #F9F9F9;
    --color-dark: #000;
    --color-gray-6: #F2F2F2;
    --color-gray-3: #828282;
    --color-red: #A61C1C;
    --color-pale-brown: #A6806B;
    --transition-duration: 0.2s;
}

body {
    color: var(--color-dark);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

h1, .h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.1;
}

a {
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 44px;
        content: '';
        translate: -50% -50%;
        aspect-ratio: 1;
    }
}

@media (hover: hover) {
    a:hover {
        color: var(--color-pale-brown);
        transition-duration: var(--transition-duration);
    }
}

.gallery {
    display: grid;
    grid-auto-flow: column;
    height: 100dvh;
}

.gallery__element {
    text-wrap: wrap;
}

.gallery__element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Нормализовал и округлил fr вместо перевода в %, т.к. пропорции в grid удобнее */
.gallery--3-rows {
    grid-template-rows: 40fr 25fr 35fr;
    grid-template-columns: 36fr 16fr 13fr 18fr 18fr;
}

.gallery__element--wide {
    grid-column: span 2;
}

.gallery__element--tall {
    grid-row: span 2;
}

.gallery__element--red {
    background-color: var(--color-red);
}

.gallery__element--brown {
    background-color: var(--color-pale-brown);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 35%;
    padding: 48px 64px;
}

.hero__title {
    width: min-content;
    text-transform: uppercase;
}

.socials {
    display: flex;
    column-gap: 24px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    background-color: var(--color-gray-3);
    color: var(--color-gray-6);
}

@media (width <= 1200px) {
    .gallery {
        height: auto;
    }

    .gallery--3-rows {
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 2fr 1fr;
    }

    .hero {
        padding: 48px 64px;
    }

    .gallery__element--wide {
        grid-column: auto;
    }

    .gallery__element--tall {
        grid-row: auto;
    }
}

@media (width <= 768px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery__element {
        aspect-ratio: auto;
        height: auto;
    }

    .hero, .description {
        align-items: start;
        row-gap: 12px;
        padding: 32px;
    }

    .hero__title {
        width: auto;
        font-size: 42px;
    }

    .socials {
        column-gap: 16px;
        width: 100%;
    }
}

@media (width <= 320px) {
    .hero, .description {
        padding: 16px;
    }

    .hero__title {
        font-size: 32px;
    }

    .description {
        font-size: 16px;
    }
}

